@using System.Text.Json
@using System.Text.Json.Serialization
@using JsonSerializer = System.Text.Json.JsonSerializer
@model IEnumerable<Poll>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <section class="py-8">
        <h1 class="text-center">Latest polls</h1>
        @if (!Model.Any())
        {
            <h2 class="text-center my-4">No polls found.</h2>
        }
        <div class="mt-8">
            <div id="poll-container" class="flex flex-col gap-y-6 gap-x-2 items-center">
                @foreach (Poll poll in Model)
                {
                    <poll-card class="max-w-xl w-full" data-poll-id="@poll.Id" question="@poll.Question" options="@JsonSerializer.Serialize(poll.Options.Select(option => option.Name), new JsonSerializerOptions{ ReferenceHandler = ReferenceHandler.IgnoreCycles})" voters="@poll.Voters"></poll-card>
                }
            </div>
        </div>
    </section>
</div>

@await Html.PartialAsync("_PollCard")
