@model Poll
@{
    ViewData["Title"] = "Create poll - Admin Page";
}
<section>
    <div class="mx-auto max-w-2xl container">
        <h1 class="text-center py-8">Create a poll</h1>
        <form asp-controller="Admin" asp-action="Create" method="post">
            <div class="flex flex-col gap-y-1">
                <label asp-for="Question">@nameof(Model.Question): </label>
                <input type="text" class="py-1.5 px-4 rounded" placeholder="Type in the @nameof(Model.Question)" asp-for="Question">
            </div>
            <button type="submit" class="mt-6 bg-green-600 hover:bg-green-500 transition-colors px-4 py-1 rounded">Create</button>
        </form>
    </div>
</section>
